<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/style1.css" rel="stylesheet" />
    <title>Experience</title>
</head>
<body>
    <h1>Experience</h1>
    <h2 style="color:#234567
    ">2021-OCTOBER TO 2023 MAY </h2>
    <h2>MAINTENANCE PLANNER (GET), BUNGE INDIA</h2>

    <p class="Experience">AT BUNGE INDIA, I PRODUCED WEEKLY PM/PDM COMPLIANCE AND R&M EXPENSE
        REPORTS, AIDING IN DEMAND FORECASTING AND RESOURCE ALLOCATION. I MANAGED THE
        SAP PM MODULE, SUPPORTED SPARE MANAGEMENT, AND PLANNED PREVENTIVE
        MAINTENANCE AND SHUTDOWNS. I COLLABORATED WITH STAKEHOLDERS TO ENSURE
        CRITICAL EQUIPMENT NEEDS AND OPTIMIZED MAINTENANCE PLANS.</p>
    
</body>
</html>