<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    
</body>
</html>

<h3> MACHINE LEARNING MODELUsing NumPy and Pandas </h3>
<ul>
    <li>Linear Regression</li>
    <li>Polynomial Regression</li>
    <li>Principal Component Analysis </li>
</ul>
<h3> DEEP LEARNING AND NLP </h3>
<ul>
    <li>Develop word2vec embedding of text data</li>
</ul>
